.icons{
//     border: 2px solid red($color: #000000);
//     border: none;
    // width: 100%;
    // margin: 0 auto;
    padding: 0px 4px;
    // background: white;
    // font-size: 20px;
    // height: 40px;
    // width: 100%;
    // margin: 8px 0px 8px 28px;

//   border-radius: 180px 180px 180px 180px;



}
.icon{
  border-radius: 180px 180px 180px 180px;
  padding: 10px;


}

.icon:hover{
  background-color:rgb(169 145 145 / 16%);

}

.popup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  max-width: 120px;
  margin-left: 5px;

}

#colorbuttons {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 3px;
}

.colorButton {
  margin-right: 1px;
  width: 25px;
  height: 25px;
  
  
}