<div fxLayout="row" class="icons" fxFlex="100">
    <div fxFlex="15">
        <img  width="21px" src="../../../assets/googleKeep/remaindme.svg" alt="" srcset="">
    </div>
    <div fxFlex="15">
        <img width="21px" src="../../../assets/googleKeep/collab.svg" alt="" srcset="">
    </div>
    <div fxFlex="15">
        <img width="21px" src="../../../assets/googleKeep/color.svg" alt="" srcset="">
    </div>
    <div fxFlex="15">
        <img width="21px" src="../../../assets/googleKeep/gallary.svg" alt="" srcset="">
    </div >

    <div fxFlex="15">
        <img width="21px" src="../../../assets/googleKeep/archive2.svg" alt="" srcset="">
    </div>
    <div fxFlex="15">
        <img width="22px" src="../../../assets/googleKeep/3dot.svg" alt="" srcset="">
    </div>
    
</div>