<div fxLayout="row" class="icons" fxFlex="100">
    <div class="icon" fxLayoutAlign="center center" fxFlex="15">
        <img  width="21px" src="../../../assets/googleKeep/remaindme.svg" alt="" srcset="">
    </div>
    <div class="icon" fxLayoutAlign="center center" fxFlex="15">
        <img width="21px" src="../../../assets/googleKeep/collab.svg" alt="" srcset="">
    </div>


    <div class="icon" fxLayoutAlign="center center" fxFlex="15" [matMenuTriggerFor]="colorMenu" >
        <img width="21px" src="../../../assets/googleKeep/color.svg" alt="" srcset="">
        <mat-menu #colorMenu="matMenu">
            <div class="popup">

                <div *ngFor="let color of Allcolors" class="colorButton">
                    <button mat-mini-fab [style.background]="color.code" id="colorbuttons"
                        (click)="Color(color)"></button>
                </div>
            </div>
        </mat-menu>
    </div>


    <div class="icon" fxLayoutAlign="center center" fxFlex="15">
        <img width="21px" src="../../../assets/googleKeep/gallary.svg" alt="" srcset="">
    </div >

    <div class="icon" (click)="Archive()"  fxLayoutAlign="center center" fxFlex="15">
        <img width="21px" src="../../../assets/googleKeep/archive2.svg" alt="" srcset="">
    </div>
    <div class="icon" fxLayoutAlign="center center" fxFlex="15">
        <img width="20px" src="../../../assets/googleKeep/option.svg" alt="" srcset="" [matMenuTriggerFor]="more">
        <mat-menu #more="matMenu">
            <button mat-menu-item (click)="Trash()">Delete Note</button>
            <button mat-menu-item>Add label</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show checkboxes</button>
          </mat-menu>
    </div>
    
    
</div>