.main-toolbar {
  // display: inline-flex;
  background-color: white;
  position: relative;
  z-index: 2;
  box-shadow: 0px 1.5px lightgray;
  height: 100%;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
}

.header-btn {
  // color: rgb(95, 99, 104);
  display: flex;
  justify-content: space-between;
  margin-left: 9%;
    column-gap: 11px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 77px;
  padding: 0px 33px;
}

.search {
  width: 350%;
  font-size: 3px;
  height: 47px;
  margin-left: 20%;
}

.mat-form-field {
  font-weight: 400;
  line-height: 4.125;
}
.h1 {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5%;
  color: rgb(95 99 104);
  opacity: 1;
}

.search-input {
  width: 85%;
  padding-left: 12px;
  font-size: 17px;
  height: 40px;
}

// .menu-itemsa:hover{
//   border-radius: 10px 40px 40px 10px;
// }

.set-profile {
  display: flex;
  margin-left: 3%;
  column-gap: 12px;
}

.sidenav-icon {
  padding-right: 100px;
  padding: 0 23px;
  position: sticky;
}

.menus {
  border-radius: 10px 40px 40px 10px;
  font-weight: 450;
  padding: 0 35px;
  // block-size: 30px;
  //   padding-right: 200px;
    // border-radius: 100%;
  // margin-right: 25px;  
}


.menu-items{
  width: 290px;
}

.header-icon{
  border-radius: 180px 180px 180px 180px;
  padding: 10px;
}

.header-icon:hover{
  background-color:rgb(169 145 145 / 16%);

}

// *:focus {
//   outline: none;
// }


button {
  border: none;
  background-color: white;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 1.25em 0 2.75em 11px;
}


.search-area{
  background:#f1f3f4;
  border: none;
  margin-left: 55px;
  // margin-right: -493px;
  width: 692px;
  height: 54px;
  border-radius: 8px;
}

input{
  &:focus { 
    outline: none !important;
    }
}

.tooltip{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: unset;
}

.tooltip input{
  border: none;
  // border: 1px solid red;
  padding: 0px 12px;
  background:#f1f3f4;
  border-radius: 7px;
  width: 117%;
  font-size:  19px;
  height: 47px;
}