<div class="container">
    <div class="display-container">
        <div class="Note-container" fxLayout="row" >
            <input class="title" type="text" placeholder="Take a Notes...">
            <button class="btn" >
                <img class="img-tag" style="width: 27px;" src="../../../assets/googleKeep/pin.svg" alt="">
            </button>
            
        </div>
        <div >
            <p class="notes"></p>
        </div>

        <div class="display-icons">
            <app-icons ></app-icons>
        </div>
    </div>

</div>