// .container{
//     padding: 22px 38px;
//     border: none;
//     // border: 2px solid red;
//     width: 100%;

//     display: grid;
//     grid-template-columns: repeat(auto-fill, 241px);
    

// }
// .display-container{
//     border-radius: 10px 10px 10px 10px;

//     border: 2px solid rgba(29, 27, 27, 0.123);
//     width: 70%;
//     height: 190px;
//     // margin: 14px 78px;
//     margin:17px 0px;
//     margin-left: 40px;

// }
// .btn{

//     padding: 5px;
//     background: rgb(255 255 255);
//     width: 51px;
//     border: none;
//     }
//     .Note-container{
//         // border: none;
//         // border: 2px solid red;
//         margin: 0 auto;
//         padding: 0px 7px;;
//         background: white;
//         width: 98%;
//         font-size: 20px;
//         height: 48px;
//         // position: relative;
//         // top: -46%;
//         // box-shadow: 0px 0px 4px 2px  rgb(20 10 10 / 32%);   
    
//     } 
    
//     .title{
//         border: none;
//     width: 100%;
//     padding: 0px 0px;
//     background: rgb(255 255 255);
//     font-size: 16px;
//     height: 45px;
//     margin: 13px;
//     margin-left: 0px;
    
//     }

//     *:focus {
//         outline: none;
//     }

//    .notes{
//     border: none;
//     width: 90%;
//     background: rgb(255 255 255);
//     font-size: 16px;
//     height: 85px;
//     padding-left: 7px;
//     // border: 2px solid rgb(0, 255, 13);

//    }

.display-note{
    display: flex;
    flex-flow: wrap;
    position: absolute;
    left: 10%;
    width: 85%;
    column-gap: 15px;
    margin-top: 14px;
  
  }
  
  .note-card {
     overflow-wrap: break-word;
     width: 200px;
     height: auto;
     min-height: 80px;
     margin-top: 20px;
     padding: 12px;
  }
  
  .note-title{
    overflow-wrap: break-word;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .note-description{
    overflow-wrap: break-word;
    font-size: 15px;
    padding-top: 10px;
    min-height: 35px;
    margin-bottom: 0px;
  }