<div class="display-container ">
    <div *ngFor="let note of NotesArray" >
        <mat-card class="note " [style.background]="note.color">
            <mat-card-title class="title" fxLayout="row" (click)="openDialog(note)" >
            <span>
                {{note.title}}
            </span>
            
                <p class="btn" fxLayoutAlign="space-evenly center"  >
                    <img class="img-tag" style="width: 21px;" src="../../../assets/googleKeep/pin.svg" alt="">
                </p>    
            </mat-card-title>
            <mat-card-content class="description" >
                <p>{{note.description}}</p>
            </mat-card-content>
            
            
            <mat-card-actions>
                <div class="icons">
                    <app-icons [NotesList]="note" (ColorEvent)="colorMessage($event)" (TrashEvent)="trashMessage($event)" (ArchiveEvent)="archiveMessage($event)"></app-icons>
                    <!-- send data to icon trash -->
                </div>
            </mat-card-actions>

        </mat-card>
    </div>
</div>