.display-container {
  display: flex;
  flex-flow: wrap;
  position: absolute;
  left: 10%;
  width: 85%;
  column-gap: 44px;
  margin-top: 14px;

}

.note {
  overflow-wrap: break-word;
  width: 200px;
  height: auto;
  min-height: 80px;
  margin-top: 20px;
  padding: 12px;
}

.title {
  overflow-wrap: break-word;
  margin-top: 20px;
  font-size: 20px;
  justify-content: space-between;
}

.description {
  overflow-wrap: break-word;
  font-size: 15px;
  padding-top: 10px;
  min-height: 35px;
  margin-bottom: 0px;
}

.btn {
  border-radius: 180px 180px 180px 180px;
  padding: 4px;

  &:hover {
    background-color: rgb(169 145 145 / 16%);
  }
}
