.container{
    padding-top: 10px;
    border: none;
    // border: 2px solid red;
    width: 100%;
    // margin: 21px 17%;

}
.display-container{
    border-radius: 10px 10px 10px 10px;

    border: 2px solid rgba(29, 27, 27, 0.123);
    width: 21%;
    height: 190px;
    margin: 16px 170px;

}
.btn{

    padding: 9px;
    background: rgb(255 255 255);
    width: 51px;
    border: none;
    }
    .Note-container{
        // border: none;
        // border: 2px solid red;
        margin: 0 auto;
        padding: 0px 7px;;
        background: white;
        width: 100%;
        font-size: 20px;
        height: 48px;
        // position: relative;
        // top: -46%;
        // box-shadow: 0px 0px 4px 2px  rgb(20 10 10 / 32%);   
    
    } 
    
    .title{
        border: none;
    width: 100%;
    padding: 0px 0px;
    background: rgb(255 255 255);
    font-size: 16px;
    height: 45px;
    
    }

    *:focus {
        outline: none;
    }

   .notes{
    border: none;
    width: 93%;
    background: rgb(255 255 255);
    font-size: 18px;
    height: 85px;
    padding-left: 8px;
    // border: 2px solid rgb(0, 255, 13);

   }

   

//    .display-icons{
//     border: none;
//     width: 100%;
//     margin: 0 auto;
//     // padding: 0px 23px;
//     background: white;
//     font-size: 20px;
//     height: 40px;
//     display: flex;

//   width: 100%;
//   margin: 0 -5px
//    }

//    .item{
//     background: gray;
//   width: 50px;
//   height: 50px;
//   margin: 0 5px;
//    }