.main {
    //display: flex;
    position: absolute;
    top: 48%;
    left: 49%;
    transform: translate(-50%, -50%);
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    width: 716px;
    padding: 56px;
    height: auto;
    background: #fff;
    font-weight: 600;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
}

.heading1{
    margin: 13px 0px 12px;
    font-weight: 550;
    
}

.heading2{
    font-weight: 400;

}

.example-container{
    padding: 2.75em 0.75em 0 0.75em;
}

.user-name{
    height:130px;
}

// mat-form-field {
//     display:contents;
// }

.form-logo{
    text-align: center;
    font-size:x-large;
}

.formcontainer{
    text-align: center;
}

.primary{
    background-color: #f9fafc;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #4971f6;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    font-family: arial rounded mt;
}

.signin-primary{
    background-color: #4971f6;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    font-family: arial rounded mt;
}
.form-btn {
    display: flex;
    column-gap: 68%;
    padding-top: 7%;
}