<div class="container" fxLayout="column" fxLayoutAlign=" center center">
    <div class="main-container">
        <div *ngIf="!show || show" (click)="onOpen()" fxLayout="row" fxLayoutAlign=" center center"
            class="title-container" [formGroup]="noteForm">
            <!-- <input class="input-cont2" type="text" placeholder="Title"> -->
            <input class="title" type="text" placeholder="Take a Notes..." />

            <div *ngIf="!show" fxLayoutAlign="space-around center" class="notes-icon">

                <img style="width: 27px;" class="icon1" src="../../../assets/googleKeep/newnotes.svg" alt="">
                <img style="width: 27px;" class="icon1" src="../../../assets/googleKeep/drawing.svg" alt="">
                <img style="width: 27px;" class="icon1" src="../../../assets/googleKeep/gallary.svg" alt="">

            </div>
        </div>


        <div class="Note-container" *ngIf="show" (click)="onOpen()" fxLayout="row">
            <input class="input-cont2" type="text" placeholder="Title">

            <!-- <input class="title" type="text" placeholder="Take a Notes..." /> -->
            <button class="btn">
                <img class="img-tag" style="width: 27px;" src="../../../assets/googleKeep/pin.svg" alt="">
            </button>
        </div>

        <div *ngIf="show" fxLayoutAlign="center center" style="margin: 3px;" >
                <app-icons class="createicons"></app-icons>
                <button (click)="onSubmit()" class="btn-2">close</button>
        </div>
    </div>
</div>



        