
.note-title{
    padding: 0px 8px;
    font-size: 17px;
    width: 90%;
    // border: 2px solid red;
    height: 32px;
    border: none;

}

.note-description{
    border: none;
    padding: 0px 8px;
    font-size: 17px;
    width: 90%;
    // border: 2px solid red;
    height: 32px;
}

*:focus {
    outline: none;
}

.img-tag{
    margin: 4px;
}




// .close-card{
    
// }